#color_body{
    background-color: #ffffff; 
  }
  
  .navbar {
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #2bd4d4; 
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  
  .navbar .nav-link:hover {
    color: #ffd700; 
  }
  
  .navbar .nav-link.active {
    font-weight: bold;
    color: #ffd700; 
  }
  
 
  .card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
  }
  
  .card-title {
    font-weight: bold;
    color: #4a90e2; 
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-label {
    font-weight: 500;
    color: #2b2828; 
  }
  
  #bookForm input {
    border-radius: 4px;
    padding: 8px;
    font-size: 1rem;
    border: 2px solid #d04ae2; 
  }
  
  #bookForm input:focus {
    border-color: #ff6969; 
    box-shadow: 0 0 5px rgba(255, 105, 180, 0.5);
  }
  
  .btn-success {
    background-color: #ff69b4;
    border-color: #ff69b4;
  }
  
  .btn-success:hover {
    background-color: #ff1493; 
    border-color: #ff1493; 
  }
  
  #books {
    padding-left: 0;
    list-style-type: none;
  }
  
  #books .list-group-item {
    padding: 10px 15px;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #ffffff; 
    border: 2px solid #ff69b4; 
  }
  
  #books .list-group-item:hover {
    background-color: #e6f7ff; 
  }
  
  h1 {
    color: #ff69b4; 
  }
  
  .card h5.card-title {
    color: #e24a91; 
  }
  
  .card-body {
    border-radius: 8px;
  }
  
  /* Additional Styling */
  .container {
    max-width: 800px;
    margin-top: 20px;
  }
  
  .shadow-sm {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  